/* KÃ¶zÃ¶s */

#calendar_main {
  background-color: #545353;
}
.calendarentries:hover {
  background-color: #fafafa;
  padding-right: 10px;
  position: absolute;
  z-index: 1;
}
.calendarentries:hover > div {
  width: auto !important;
}
#calendar_layers_alert {
  background-color: white;
  line-height: 30px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
  color: #494949;
}
#calendar_layers_alert a.linkbutton {
  float: right;
  color: #eb7f08;
  font-size: small;
}
.calendardeadline {
  cursor: pointer;
  font-size: 12px;
  position: relative;
  background-color: white;
  border: 1px solid #b5b5b5;
}
.calendardeadline .deadline {
  padding-left: 2px;
  overflow: hidden;
  height: 100%;
}
.calendardeadline .deadline .time {
  font-weight: bold;
}
.calendardeadline .calendarentry_popup {
  display: none;
}
.calendardeadline:hover .calendarentry_popup {
  display: block;
}
.calendar_header {
  width: 100%;
  border-collapse: collapse;
}
.calendar_header .header {
  line-height: 50px;
  font-size: 20px;
  color: #494949;
  border-bottom: 1px solid #b5b5b5;
}
.calendar_header .header img {
  vertical-align: text-bottom;
}
.calendar_header .header .header_left {
  width: 35px;
  text-align: right;
}
.calendar_header .header .header_main {
  text-align: center;
}
.calendar_header .header .header_right {
  width: 35px;
  text-align: left;
}
/* MonthlyView */

.calendar-monthly-view {
  border-spacing: 0px;
  border-collapse: collapse;
  table-layout: fixed;
}
.calendar-monthly-view .header {
  height: 40px;
  color: #b5b5b5;
}
.calendar-monthly-view .header .week {
  width: 28px;
}
.calendar-monthly-view .header .day {
  width: 92px;
  text-align: center;
}
.calendar-monthly-view .oneweek {
  height: 95px;
}
.calendar-monthly-view .oneweek .weeknum {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding-top: 18px;
  border-top: 1px solid #efefef;
  border-right: 1px solid #efefef;
  color: #b5b5b5;
}
.calendar-monthly-view .oneweek .monthday,
.calendar-monthly-view .oneweek .outofmonthday,
.calendar-monthly-view .oneweek .currday {
  vertical-align: top;
  text-align: left;
  font-size: 12px;
  border-top: 1px solid #efefef;
  border-right: 1px solid #efefef;
  overflow: hidden;
}
.calendar-monthly-view .oneweek .monthday .daynum,
.calendar-monthly-view .oneweek .outofmonthday .daynum,
.calendar-monthly-view .oneweek .currday .daynum {
  padding-left: 10px;
}
.calendar-monthly-view .oneweek .monthday,
.calendar-monthly-view .oneweek .currday {
  cursor: pointer;
}
.calendar-monthly-view .oneweek .lastday {
  border-right: none;
}
.calendar-monthly-view .oneweek .monthday .daynum {
  color: #494949;
}
.calendar-monthly-view .oneweek .outofmonthday {
  background-color: #fafafa;
}
.calendar-monthly-view .oneweek .outofmonthday .daynum {
  color: #b5b5b5;
}
.calendar-monthly-view .oneweek .currday .daynum {
  color: white;
  background-color: #eb7f08;
}
.calendar-monthly-view .oneweek .calendarentry {
  cursor: pointer;
  white-space: nowrap;
  font-size: 12px;
  color: #494949;
  margin-left: 10px;
  margin-bottom: 1px;
  width: 80px;
  position: relative;
}
.calendar-monthly-view .oneweek .calendarentry .calendarentry_popup {
  display: none;
}
.calendar-monthly-view .oneweek .calendarentry:hover .calendarentry_popup {
  display: block;
}
.calendar-monthly-view .oneweek .calendarentry .content {
  padding-left: 10px;
}
.calendar-monthly-view .oneweek .calendarentry .contentlabel {
  position: relative;
}
/* WeeklyView */

#calendar_weekly_entries .calendarentry {
  cursor: pointer;
  font-size: 12px;
  position: relative;
  color: white;
}
#calendar_weekly_entries .calendarentry .calendarentry_popup {
  display: none;
}
#calendar_weekly_entries .calendarentry:hover .calendarentry_popup {
  display: block;
}
#calendar_weekly_entries .calendarentry .content {
  padding: 0 2px;
  overflow: hidden;
  height: 100%;
  outline: 1px solid white;
}
#calendar_weekly_entries .calendarentry .contentlabel {
  position: relative;
}
.calendar-weekly-view {
  border-collapse: collapse;
  margin-top: 20px;
}
.calendar-weekly-view .header {
  height: 40px;
  color: #b5b5b5;
}
.calendar-weekly-view .header .day,
.calendar-weekly-view .header .currentday {
  width: 88px;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #b5b5b5;
}
.calendar-weekly-view .header .currentday {
  background-color: #eb7f08;
}
.calendar-weekly-view .header .currentday .date {
  font-size: 12px;
  font-style: normal;
  color: white;
}
.calendar-weekly-view .header .currentday .dayname {
  color: white;
}
.calendar-weekly-view .header .day .date {
  font-size: 12px;
  font-style: normal;
  color: #eb7f08;
}
.calendar-weekly-view .onehour,
.calendar-weekly-view .lasthour {
  height: 40px;
}
.calendar-weekly-view .hour {
  width: 42px;
  padding: 0 10px;
  color: #b5b5b5;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  vertical-align: middle;
}
.calendar-weekly-view .weekday,
.calendar-weekly-view .currday {
  vertical-align: top;
  text-align: left;
  font-size: 12px;
  border-left: 1px solid #efefef;
}
.calendar-weekly-view .onehour .weekday {
  border-bottom: 1px solid #efefef;
}
.calendar-weekly-view .lasthour {
  border-bottom: 1px solid #efefef;
}
.calendar-weekly-view .currday {
  background-color: #fafafa;
}
/* MultiWeeklyView */

.calendar-multiweekly-view {
  border-collapse: collapse;
  table-layout: fixed;
}
.calendar-multiweekly-view .header1 {
  height: 40px;
  color: #b5b5b5;
  border-bottom: 1px solid #efefef;
}
.calendar-multiweekly-view .header1 .week {
  width: 28px;
}
.calendar-multiweekly-view .header1 .day {
  width: 92px;
  text-align: center;
}
.calendar-multiweekly-view .header2 .day {
  text-align: center;
  cursor: pointer;
}
.calendar-multiweekly-view .oneday {
  vertical-align: top;
  text-align: left;
  font-size: 12px;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  width: 92px;
  overflow: hidden;
}
.calendar-multiweekly-view .oneday .daynum {
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  color: #b5b5b5;
  padding-left: 10px;
}
.calendar-multiweekly-view .oneday .daynum:hover {
  color: #494949;
}
.calendar-multiweekly-view .oneday .calendarentry {
  cursor: pointer;
  white-space: nowrap;
  font-size: 12px;
  color: #494949;
  margin-left: 10px;
  margin-bottom: 1px;
  width: 80px;
  position: relative;
}
.calendar-multiweekly-view .oneday .calendarentry .calendarentry_popup {
  display: none;
}
.calendar-multiweekly-view .oneday .calendarentry:hover .calendarentry_popup {
  display: block;
}
.calendar-multiweekly-view .oneday .calendarentry .content {
  padding-left: 10px;
}
.calendar-multiweekly-view .oneday .calendarentry .contentlabel {
  position: relative;
}
.calendar-multiweekly-view .currday {
  vertical-align: top;
  text-align: left;
  font-size: 12px;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  width: 92px;
  overflow: hidden;
}
.calendar-multiweekly-view .currday .daynum {
  height: 24px;
  line-height: 24px;
  color: white;
  background-color: #eb7f08;
  padding-left: 10px;
}
.calendar-multiweekly-view .currday .calendarentry {
  cursor: pointer;
  white-space: nowrap;
  font-size: 12px;
  color: #494949;
  margin-left: 10px;
  margin-bottom: 1px;
  width: 80px;
  position: relative;
}
.calendar-multiweekly-view .currday .calendarentry .calendarentry_popup {
  display: none;
}
.calendar-multiweekly-view .currday .calendarentry:hover .calendarentry_popup {
  display: block;
}
.calendar-multiweekly-view .currday .calendarentry .content {
  padding-left: 10px;
}
.calendar-multiweekly-view .currday .calendarentry .contentlabel {
  position: relative;
}
.calendar-multiweekly-view .allweek {
  min-height: 40px;
}
.calendar-multiweekly-view .allweek .weeknum {
  width: 25px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding-top: 18px;
  border-bottom: 1px solid #efefef;
  border-right: 1px solid #efefef;
  color: #b5b5b5;
}
/* DailyView */

#calendar_daily_entries .calendarentry {
  cursor: pointer;
  font-size: 12px;
  position: relative;
}
#calendar_daily_entries .calendarentry .calendarentry_popup {
  display: none;
}
#calendar_daily_entries .calendarentry:hover .calendarentry_popup {
  display: block;
}
#calendar_daily_entries .calendarentry .content {
  padding-left: 10px;
}
#calendar_daily_entries .calendarentry .contentlabel {
  position: relative;
  overflow: hidden;
}
#calendar_daily_entries .contentlabel {
  color: white;
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
}
#calendar_daily_entries .contentlabel .time {
  font-weight: bold;
}
.calendar-daily-view {
  border-spacing: 0px;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 40px;
}
.calendar-daily-view .onehour {
  height: 40px;
}
.calendar-daily-view .onehour .content {
  vertical-align: top;
  text-align: left;
  font-size: 10px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  border-left: 1px solid #efefef;
  width: 100%;
}
.calendar-daily-view .hour {
  width: 60px;
  padding: 0 10px;
  color: #b5b5b5;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
/* layerlist */

#calendar_layers {
  line-height: 20px;
  background-color: #464646;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}
#calendar_layers #scene_layers + label:before {
  content: '';
}
#calendar_layers div.line {
  border-bottom: 1px solid #b5b5b5;
  margin: 8px 0 12px 0;
}
#calendar_layers span.checkbox {
  width: 214px;
  display: inline-block;
  margin: 2px 5px;
  background-color: #383838;
}
#calendar_layers span.checkbox.main {
  width: calc(100% - 10px);
}
#calendar_layers span.checkbox input[type=checkbox] {
  position: absolute;
  left: -9999px;
}
#calendar_layers span.checkbox input[type=checkbox] + label:before {
  background-image: url(/$Calendar$/Content/checkbox_off.png);
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  height: 31px;
  width: 31px;
  margin-right: 5px;
}
#calendar_layers span.checkbox input[type=checkbox]:checked + label:before {
  background-image: url(/$Calendar$/Content/checkbox_on.png);
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  height: 31px;
  width: 31px;
  margin-right: 5px;
}
#calendar_layers span.checkbox label {
  line-height: 31px;
  min-height: 31px;
  margin: 0;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#calendar_layers span.checkbox label:hover {
  color: #eb7f08;
}
/***/

#grouplist_container {
  margin-top: 2px;
  margin-bottom: 2px;
}
#grouplist_container div.targets {
  line-height: 23px;
}
#grouplist_container select,
#grouplist_container #grouplist {
  margin-left: 60px;
}
label.label {
  font-weight: bold;
}
#fcalendaritem textarea {
  width: 99%;
}
#teditcalendaritem {
  width: 100%;
  table-layout: fixed;
}
#teditcalendaritem th,
#teditcalendaritem td {
  text-align: left;
  vertical-align: top;
  line-height: 25px;
}
#teditcalendaritem input[type='text'] {
  width: 99%;
}
/* external links */

#providers {
  padding-top: 10px;
  background-color: white;
}
#providers .provider {
  float: left;
  width: 175px;
  margin-left: 5px;
  margin-bottom: 5px;
  border: 1px solid #cecece;
}
#providers .provider:hover {
  border: 1px solid #afafaf;
  cursor: pointer;
}
#providers .provider.selected {
  border: 1px solid #afafaf;
}
#providers .provider table {
  width: 100%;
  padding: 0px;
  border-collapse: collapse;
  background-color: white;
}
#providers .provider table tr {
  height: 50px;
}
#providers .provider table td.logo {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  text-align: center;
}
#provider_contents {
  margin-top: 10px;
  background-color: white;
}
#provider_contents .url {
  width: 99%;
  border: 1px solid #a0a0a0;
  color: #4040a0;
  background-color: White;
  margin-top: 3px;
  padding: 2px;
}
#provider_contents a.url {
  display: block;
}
/* szÃ¼rke control sÃ¡v */

.control {
  clear: both;
  background-color: #403f3f;
  padding: 5px 10px;
  height: 30px;
  text-align: center;
}
.control .linkbutton3 {
  color: #464646;
}
.control .linkbutton3:hover {
  color: #383838;
}
.calendarentry_popup {
  position: absolute;
  min-width: 250px;
  background-color: #494949;
  color: #b5b5b5;
  border: 1px solid #eb7f08;
  min-height: 35px;
  z-index: 11;
  padding: 5px;
}
.calendarentry_popup .entryinfo1 {
  color: white;
}
.calendarentry_popup:before {
  border-top: 10px solid #eb7f08;
}
.calendarentry_popup:after {
  border-top: 10px solid #494949;
  margin-top: -1px;
}
.calendarentry_popup:before,
.calendarentry_popup:after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: 100%;
  left: 115px;
}
.calendar-list-view div.dayhead {
  border-bottom: 1px solid #b5b5b5;
}
.calendar-list-view div.dayhead.today {
  color: #eb7f08;
  border-bottom: 1px solid #eb7f08;
}
.calendar-list-view div.dayhead span.date {
  float: right;
  font-size: small;
}
.calendar-list-view div.calendarentries {
  margin-bottom: 20px;
}
.calendar-list-view div.calendarentries:hover {
  background-color: #fafafa;
  padding-right: 0;
  position: inherit;
}
.calendar-list-view div.calendarentries .calendarentry {
  cursor: pointer;
  color: white;
  margin-left: 10px;
  position: relative;
  padding-top: 5px;
}
.calendar-list-view div.calendarentries .calendarentry .content {
  padding-left: 10px;
}
.calendar-list-view div.calendarentries .calendarentry .calendarentry_popup {
  display: none;
}
.calendar-list-view div.calendarentries .calendarentry:hover .calendarentry_popup {
  display: block;
}
.headline {
  background-color: #efefef;
}
.headline span {
  margin-left: 5px;
}
.headline img {
  align: left;
  vertical-align: middle;
}
.headline + .provider {
  padding-top: 10px;
}
.headline + .provider span.label {
  padding-left: 35px;
  padding-right: 35px;
  display: inline-block;
}
.headline + .provider input {
  width: calc(100% - 70px);
  margin-left: 35px;
}
.headline + .provider .help {
  margin-top: 10px;
  margin-bottom: 10px;
}
