/*
.floating
{
    //position: fixed;
	position: absolute;
    top: 0;
    z-index: 0;
}
aside.left section:nth-child(2)
{
	display: none;
}
section.realcontent {
	margin-left: 260px;
}
*/

.p {
  margin: 10px;
}
div.createnewitems {
  padding-left: 7px;
  line-height: 38px;
}
div.multiselaction {
  padding-left: 7px;
  line-height: 38px;
}
input,
textarea {
  border: 1px solid #b5b5b5;
  outline: 0px;
  border-radius: 2px;
}
input:focus,
textarea:focus {
  border: 1px solid #eb7f08;
}
#searchbar {
  background-color: #efefef;
  padding: 2px 10px;
  overflow: hidden;
  line-height: 40px;
}
#searchbar a {
  color: #464646;
}
#searchbar a:hover {
  color: #eb7f08;
}
#searchbar a.current {
  color: #eb7f08;
}
#searchbar form {
  float: right;
  line-height: 24px;
  padding: 5px;
}
#searchbar form input {
  padding: 5px;
  width: 150px;
}
#searchbar form a {
  height: 20px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}
#searchbar span.checkbox {
  vertical-align: middle;
}
ul#items {
  list-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul#items > li {
  display: block;
  line-height: 35px;
  padding: 2px;
  border-bottom: 1px solid #efefef;
  overflow: hidden;
  cursor: context-menu;
}
ul#items > li:hover {
  background-color: #fafafa;
}
ul#items > li:hover:not(.selected) div.n div.icon,
ul#items > li:hover:not(.selected) div.m div.icon {
  background-position: 0px -56px;
}
ul#items > li.selected {
  background-color: #eb7f08;
  color: white;
}
ul#items > li.selected a {
  color: white;
}
ul#items > li.selected:hover {
  background-color: #f8982e;
}
ul#items > li.new {
  background-color: #efefef;
}
ul#items > li.new div.icon {
  float: left;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: 4px 6px;
}
ul#items > li.new input[type=text] {
  width: 60%;
}
ul#items > li.new input[type=button],
ul#items > li.new input[type=submit] {
  margin-left: 5px;
  border: 1px solid #494949;
  padding: 1px 8px;
}
ul#items > li.renaming input[name=name] {
  width: 60%;
}
ul#items > li.renaming input[type=button],
ul#items > li.renaming input[type=submit] {
  margin-left: 5px;
  border: 1px solid #494949;
  padding: 1px 8px;
}
ul#items > li.renaming div.n {
  width: 100%;
}
ul#items > li.renaming div.n a,
ul#items > li.renaming div.n span {
  display: none;
}
ul#items > li.renaming div.n form.rename {
  display: block;
  float: none;
}
ul#items > li.renaming div.i,
ul#items > li.renaming div.c,
ul#items > li.renaming div.b {
  display: none;
}
ul#items > li.time {
  font-size: 90%;
  border-bottom: 0px;
  line-height: 120%;
  margin-bottom: 5px;
  margin-top: 30px;
  border-bottom: 1px solid #eb7f08;
  color: #eb7f08;
  /*& > span::before {
				float: left;
				width: 50px;
				height: 17px;
				margin-right: 5px;
				border-bottom: 1px solid @sarga;
				content: ' ';
			}
			& > span {
				float: left;
			}
			& > span::after {
				display: block;
				height: 17px;
				margin-right: 5px;
				border-bottom: 1px solid @sarga;
				content: ' ';
			}*/

}
ul#items > li.time span {
  padding-left: 5px;
}
ul#items > li.time:hover {
  background-color: inherit;
}
ul#items > li.next {
  background-image: url(/$Folder$/Content/ajaxLoader_gray.gif);
  background-repeat: no-repeat;
  background-position: center center;
  height: 40px;
}
ul#items > li > div {
  float: left;
}
ul#items > li > div div.icon,
ul#items > li > div div.thumb {
  float: left;
  width: 26px;
  height: 26px;
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin-right: 7px;
  margin-left: 5px;
}
ul#items > li > div div.icon {
  float: left;
}
ul#items > li > div div.thumb {
  background-size: cover;
  background-position: center center;
  border-radius: 26px;
}
ul#items > li > div.m {
  font-size: 90%;
  line-height: 130%;
  margin-left: 40px;
  padding-top: 4px;
  padding-bottom: 4px;
}
ul#items > li > div.m div.icon {
  margin-top: 2px;
  margin-left: -35px;
}
ul#items > li > div.n {
  width: 62%;
}
ul#items > li > div.n a,
ul#items > li > div.n span {
  float: left;
  max-width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
ul#items > li > div.i {
  width: 11%;
  font-size: 80%;
  text-align: right;
  padding-right: 2%;
}
ul#items > li > div.c {
  width: 25%;
  text-align: right;
  font-size: 80%;
  line-height: 130%;
  padding-top: 3px;
}
ul#items > li > div.c span.u {
  display: block;
}
ul#items > li > div.comm {
  float: none;
  clear: both;
  color: #b5b5b5;
  margin-left: 40px;
  line-height: 130%;
  font-size: 80%;
}
ul#items a:not(.linkbutton24) {
  text-decoration: none;
  color: #494949;
}
ul#items a:not(.linkbutton24):hover {
  color: #eb7f08;
}
ul#items.fullpath div.n {
  float: none;
  width: auto;
  overflow: hidden;
}
ul#items.fullpath div.n b {
  font-weight: normal;
}
ul#items.fullpath div.i {
  margin-left: 40px;
  line-height: 130%;
  text-align: left;
  color: #b5b5b5;
}
ul#items.fullpath span.u a {
  color: #b5b5b5;
}
ul#items.fullpath div.c {
  width: auto;
  float: right;
  padding-top: 0px;
}
ul#items.fullpath span.u {
  display: inline !important;
  padding-left: 5px;
  font-size: 100% !important;
}
#new_file {
  margin-top: 10px;
  margin-bottom: 10px;
}
#new_file_done {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #eb7f08;
  padding: 5px 10px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
#new_curriculum {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #efefef;
  padding: 10px;
}
#new_meta {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #efefef;
  padding: 10px;
}
#new_meta_ajax,
#folder_meta_edit,
#new_curriculum {
  background-repeat: no-repeat;
  background-position: top right;
}
#new_meta_ajax > div,
#folder_meta_edit > div,
#new_curriculum > div {
  margin-top: 5px;
  margin-bottom: 5px;
}
#new_meta_ajax > div > label,
#folder_meta_edit > div > label,
#new_curriculum > div > label {
  float: left;
  min-width: 22%;
  padding-top: 2px;
  text-align: right;
  padding-right: 1%;
}
#new_meta_ajax > div > label.required,
#folder_meta_edit > div > label.required,
#new_curriculum > div > label.required {
  font-weight: bold;
}
#new_meta_ajax > div > textarea,
#folder_meta_edit > div > textarea,
#new_curriculum > div > textarea {
  width: 76%;
}
#new_meta_ajax .size_s,
#folder_meta_edit .size_s,
#new_curriculum .size_s {
  width: 66px;
}
#new_meta_ajax .size_m,
#folder_meta_edit .size_m,
#new_curriculum .size_m {
  width: 220px;
}
#new_meta_ajax .size_l,
#folder_meta_edit .size_l,
#new_curriculum .size_l {
  width: 330px;
}
li.meta {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px !important;
  border-radius: 3px;
  line-height: normal !important;
  -webkit-touch-callout: default !important;
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}
li.meta > div {
  float: none !important;
}
li.meta,
li.meta:hover {
  background-color: #efefef !important;
}
li.meta div.topsep {
  border-top: 1px dotted #b5b5b5;
  padding-top: 5px;
  margin-top: 5px;
}
li.meta div.typename {
  color: #b5b5b5;
  font-size: large;
  margin-bottom: 5px;
}
li.meta div.typename .imagebutton16 {
  margin-left: 5px;
}
li.meta div.tags {
  margin-top: 10px;
  font-style: italic;
}
div.info_empty {
  margin-top: 10px;
  margin-bottom: 10px;
  /*
	padding: 10px;
	border-radius: 3px;
	background-color: @v2szurke;
	*/
  color: white;
}
div.browse {
  margin-bottom: 44px;
}
div.footerbuttons {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  height: 44px;
  bottom: 0px;
  left: 0px;
  position: fixed;
  background-color: #efefef;
  border-top: 0px;
}
.popupheader {
  margin: 0px;
  padding: 5px;
  background-color: #efefef;
}
ul.ctxmenu {
  position: absolute;
  z-index: 10;
  border: 1px solid rgba(78, 78, 78, 0.85);
  background-color: white;
  width: 250px;
  line-height: 130%;
  list-style: none;
}
ul.ctxmenu li a {
  padding: 5px 30px 5px;
  display: block;
  color: black !important;
  background-repeat: no-repeat;
  background-position: 5px 6px;
}
ul.ctxmenu li a:hover {
  background-color: #eb7f08;
  background-position: 5px -20px;
  color: white !important;
}
ul.ctxmenu li div {
  padding: 5px 30px 5px;
  font-size: 90%;
  background-color: #efefef;
}
ul.ctxmenu li div.mod:hover {
  background-color: #eb7f08;
  color: white;
}
ul.ctxmenu li div.notags {
  color: #b5b5b5;
}
ul.ctxmenu li.rename a {
  background-image: url(/$Folder$/Content/atnevezes.png);
}
ul.ctxmenu li.copy a {
  background-image: url(/$Folder$/Content/masolas.png);
}
ul.ctxmenu li.link a {
  background-image: url(/$Folder$/Content/linkeles.png);
}
ul.ctxmenu li.send a {
  background-image: url(/$Folder$/Content/kuldes.png);
}
ul.ctxmenu li.move a {
  background-image: url(/$Folder$/Content/athelyezes.png);
}
ul.ctxmenu li.delete a {
  background-image: url(/$Folder$/Content/torles.png);
}
ul.ctxmenu li.download a {
  background-image: url(/$Folder$/Content/letoltes.png);
}
ul.ctxmenu li.downloadall a {
  background-image: url(/$Folder$/Content/letoltes_egyben.png);
}
ul.ctxmenu li.versions a {
  background-image: url(/$Folder$/Content/korabbi_valtozatok.png);
}
ul.ctxmenu li.undelete a {
  background-image: url(/$Folder$/Content/visszaallitas.png);
}
ul.ctxmenu li.edit a {
  background-image: url(/$Folder$/Content/szerkesztes.png);
}
ul.ctxmenu form.tags {
  margin: 2px 5px 2px 5px;
}
ul.ctxmenu form.tags input[type=text] {
  width: 100%;
  padding: 2px;
  box-sizing: border-box;
}
ul.ctxmenu form.tags input[type=submit],
ul.ctxmenu form.tags input[type=button] {
  padding: 2px 5px;
  margin-top: 2px;
}
div.galleryoverlay {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #101010;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  z-index: 11000;
}
div.galleryoverlay > .galleryloading {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 10px;
  width: 0px;
  background-color: #eb7f08;
}
div.galleryoverlay > .galleryimages {
  position: relative;
  height: 85%;
  padding-top: 2.5%;
  white-space: nowrap;
  box-sizing: border-box;
  padding-left: 100%;
  padding-right: 100%;
}
div.galleryoverlay > .galleryimages > img {
  height: 100%;
  cursor: pointer;
}
div.galleryoverlay > .galleryimages > img:last-child {
  margin-right: 1000px;
}
div.galleryoverlay > .gallerylist {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  white-space: nowrap;
  height: 10%;
}
div.galleryoverlay > .gallerylist img {
  height: 100%;
  cursor: pointer;
  opacity: 0.5;
}
div.galleryoverlay > .gallerylist img.selected {
  outline: 1px solid white;
  outline-offset: -1px;
  opacity: 1;
}
div.galleryoverlay > .gallerylist img:hover {
  opacity: 1;
}
div.galleryoverlay > .galleryclosebtn {
  width: 26px;
  height: 26px;
  position: fixed;
  right: 5px;
  top: 5px;
  background-image: url(/$Folder$/Content/galleryclose.png);
  cursor: pointer;
}
div.galleryoverlay > .galleryclosebtn:hover {
  background-position: 0px 26px;
}
#new_folder_form .linkbutton24 {
  margin-left: 20px;
}
/* You can alter this CSS in order to give Smooth Div Scroll your own look'n'feel */

/* Invisible left hotspot */

div.scrollingHotSpotLeft {
  /* The hotspots have a minimum width of 100 pixels and if there is room the will grow
    and occupy 15% of the scrollable area (30% combined). Adjust it to your own taste. */
  min-width: 75px;
  width: 10%;
  height: 100%;
  /* There is a big background image and it's used to solve some problems I experienced
    in Internet Explorer 6. */
  background-image: url(/$Folder$/Content/sds/big_transparent.gif);
  background-repeat: repeat;
  background-position: center center;
  position: absolute;
  z-index: 200;
  left: 0;
  /*  The first url is for Firefox and other browsers, the second is for Internet Explorer */
  cursor: url(/$Folder$/Content/sds/cursors/cursor_arrow_left.png), url(/$Folder$/Content/sds/cursors/cursor_arrow_left.cur), w-resize;
}
/* Visible left hotspot */

div.scrollingHotSpotLeftVisible {
  background-image: url(/$Folder$/Content/sds/arrow_left.gif);
  background-color: white;
  background-repeat: no-repeat;
  opacity: 0.35;
  /* Standard CSS3 opacity setting */
  -moz-opacity: 0.35;
  /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
  zoom: 1;
  /* Trigger "hasLayout" in Internet Explorer 6 or older versions */

}
/* Invisible right hotspot */

div.scrollingHotSpotRight {
  min-width: 75px;
  width: 10%;
  height: 100%;
  background-image: url(/$Folder$/Content/sds/big_transparent.gif);
  background-repeat: repeat;
  background-position: center center;
  position: absolute;
  z-index: 200;
  right: 0;
  cursor: url(/$Folder$/Content/sds/cursors/cursor_arrow_right.png), url(/$Folder$/Content/sds/cursors/cursor_arrow_right.cur), e-resize;
}
/* Visible right hotspot */

div.scrollingHotSpotRightVisible {
  background-image: url(/$Folder$/Content/sds/arrow_right.gif);
  background-color: white;
  background-repeat: no-repeat;
  opacity: 0.35;
  -moz-opacity: 0.35;
  zoom: 1;
}
/* The scroll wrapper is always the same width and height as the containing element (div).
   Overflow is hidden because you don't want to show all of the scrollable area.
*/

div.scrollWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
div.scrollableArea {
  position: relative;
  width: auto;
  height: 100%;
}
.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 1;
  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 1;
  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 1;
}
@-webkit-keyframes flash {
  0% {
    background-color: none;
  }
  50% {
    background-color: #fde1c2;
  }
  100% {
    background-color: none;
  }
}
@-moz-keyframes flash {
  0% {
    background-color: none;
  }
  50% {
    background-color: #fde1c2;
  }
  100% {
    background-color: none;
  }
}
@-ms-keyframes flash {
  0% {
    background-color: none;
  }
  50% {
    background-color: #fde1c2;
  }
  100% {
    background-color: none;
  }
}
#acceptreq {
  padding: 20px;
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
}
#acceptreq > div:first-child {
  padding: 10px;
}
